*.ipynb
*.bat
*.html
*.zip
*.pickle
*.db
*.pkl
*.xml
*.pyc
*.csv
*.txt
*.xlsx
*.exe
*.pyc
*.pkl
*.pdf
*.xlsx
*.png
*.json
*.mp4
*.jpg
*.pptx
*.metadata
*.props
*.type
*.rar
*.docx
*.drawio
*.cache
*.doc
*.m4a
WorkBook_FD_20220822.xlsm
*.db
*.zip
*.csv